body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  background-size: cover;
}

.route-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 350px;
}

.route-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.route-form input:focus {
  outline: none;
  border-color: #2e7d32;
}

.route-form button {
  padding: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.route-form button:hover {
  background: #256628;
}

#map {
  height: 350px;
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
}

/* ===== MAIN TWO-COLUMN LAYOUT ===== */

/* LEFT PANEL */
.left-panel {
  flex: 1;
  color: white;
}

/* RIGHT PANEL */
.right-panel {
  flex: 2;
}

/* Override old container centering */
.container {
  max-width: none;
}

/* Map size */
#map {
  height: calc(100vh - 3.5rem);
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .main-layout {
    flex-direction: column;
  }

  #map {
    height: 350px;
  }
}

/* ===== PAGE BASE ===== */
.page {
  padding: 40px 20px;
  background: #ffffff;
  color: #222;
}

/* ===== HEADING ===== */
.page-header {
  text-align: center;
  margin-bottom: 40px;
}

.page-header h1{
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.subtitle {
  font-size: 16px;
  color: #555;
}

/* ===== LAYOUT ===== */
.content-layout {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

/* LEFT */
.left-panel {
  flex: 1;
}

.left-panel h2 {
  margin-bottom: 15px;
}

/* RIGHT */
.right-panel {
  flex: 2;
  position: relative;
  z-index: 1;
}

/* INFO BOX */
.info-box {
  background: #f4f4f4;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .content-layout {
    flex-direction: column;
  }

  #map {
    height: 350px;
  }
}

.subtitle {
  font-size: 15px;
  color: #555;
}